<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings</title>
</head>
<body>
    <h1>Settings</h1>
    <form method="post">
        <h2>Top:</h2>
        <label for="station1">Station:</label>
        <select name="station1" id="station1">
            {% for code, name in stations.items() %}
            <option value="{{ code }}" {% if station1_code == code %}selected{% endif %}>
                {{ name }}
            </option>
            {% endfor %}
        </select>

        <label for="platform1">Platform:</label>
        <input type="text" name="platform1" id="platform1" value="{{ platform1 }}" required>

        <br>
        <h2>Bottom:</h2>
        <label for="station2">Station:</label>
        <select name="station2" id="station2">
            {% for code, name in stations.items() %}
            <option value="{{ code }}" {% if station2_code == code %}selected{% endif %}>
                {{ name }}
            </option>
            {% endfor %}
        </select>

        <label for="platform2">Platform:</label>
        <input type="text" name="platform2" id="platform2" value="{{ platform2 }}" required>

        <br><br><br>

        <button type="submit">Save Settings</button>
    </form>
</body>
</html>
